*   {
    margin: 0;
    padding: 0;
}

body    {
    background-image: url("https://static.comicvine.com/uploads/original/13/136525/5256393-1092.jpg");
    background-attachment: local;
    background-repeat: repeat-y;
    background-size: cover;
}

nav {
    background-color: black;
    height: 50px;
    margin: 175px;
}

nav ul  {
    height: 50px;
    width: 900px;
    margin: auto;
}

nav ul li   {
    list-style-type: none;
    width: 200px;
    float: left;
    text-align: center;
}

li a    {
    text-decoration: none;
    color: yellow;
    line-height: 50px;
    display: inline-block;
    font-size: 36px;
}

.container  {
    background-color: white;
    margin: 300px 50px;
}

.greetings  {
    text-align: center;
    font-size: 48px;
}

.fights {
    text-align: center;
    font-size: x-large;
}

.fighter1  {
    text-align: center;
    padding: 50px;
}

.fighter2    {
    text-align: center;
    padding: 50px;
}

.poll    {
    text-align: center;
    font-size: 24px;
    padding: 30px;
}

.archives    {
    text-align: center
}